<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
		var isbn = '{{ post.isbn }}'
        var bookurl = 'https://www.googleapis.com/books/v1/volumes?q=isbn:' + isbn
        $.getJSON(bookurl, function(result){
            $.each(result, function(i, field){
                $("desc").html(field);
                if(i == 'description'){
                return false;
                }
            });
        });
});
$(document).ready(function(){
		var isbn = '{{ post.isbn }}'
        var bookurl = 'https://www.googleapis.com/books/v1/volumes?q=isbn:' + isbn
        $.getJSON(bookurl, function(result){
            $.each(result, function(i, field){
                $("thumb").html(field);
                if(i == 'thumbnail'){
                return false;
                }
            });
        });
});
</script>
</head>
<body>



<section>
```
<desc></desc>
```
</section>

<section>
{% include image.html image="<thumb></thumb>" %}
</section>

</body>
</html>
