<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cssgram-cssgram.netdna-ssl.com/cssgram.min.css"> 
<style>
.gif-thumbnail {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 30px;

  &:before {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    content: '<i class="fas fa-play-circle"></i>';
    font-family: FontAwesome;
    font-size: 100px;
    color: #fff;
    opacity: .8;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  }
  &:hover:before {
    color: #eee;
  }
}
</style>
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body id="html">
<div class="gif-thumbnail" id="play-button">
    <img src="{{ include.gif-thumb }}" alt="GIF thumbnail" class="moon" />
</div>
</body>
<script>
document.getElementById('play-button').onclick = function() {

   document.getElementById('html').innerHTML='<iframe src= "' + 'https://liech.ga/gifsound/?{{ include.gif-type }}={{ include.gif-uri }}&{{ include.sound-type }}={{ include.sound-id }}"' + '</iframe>';

};
</script>