<ul id="post-list">
    {% for post in paginator.posts %}
        <li class="h-entry">
            <a href="{{ site.baseurl }}/{{ post.url | remove_first: '/' | remove: '.html' }}" class="u-url"></a>
            <a href="{{ site.baseurl }}/{{ post.url | remove_first: '/' | remove: '.html' }}"><h2 class="e-content">
                {% if post.title == '' %}
                {{ post.content }}
                {% endif %}
                {% if post.microblog == true %}
                {{ post.content }}
                {% endif %}
                {% if post.microblog == false %}
                {{ post.title }}
                {{ post.content }}
                {% endif %}
                {% if post.mf-photo %}
		<a href="{{ post.mf-syndication }}"><img src="{{ post.mf-photo }}"></a>
	    	{% endif %}
{% if page.mf-like-of %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<i>Emil liked </i>"
<p>
var encoded = encodeURIComponent("{{ page.mf-like-of }}");
		$.ajax({
			
		      url: "http://textance.herokuapp.com/rest/title/" + encoded,
		      complete: function(data) {
			document.write(data.responseText);
		      }
		});
</p>
{% endif %}

                
                </h2></a>
            <aside class="dates"><time datetime="{{ post.date }}" class="dt-published"><span class="arrow">→</span> {{ post.date | date:"%I:%M %p, %b %d" }}</time></aside>
        </li>
    {% endfor %}
</ul>

{% if paginator.previous_page or paginator.next_page %}
    {% include pagination.html %}
{% endif %}
